<div class="badi">
    <div class="login-container bg-light">
        <h1>Giriş Yap</h1>
        <form>
            <input type="text" placeholder="Kullanıcı Adı" required>
            <input type="password" placeholder="Şifre" required>
            <button type="submit">Giriş</button>
        </form>
        <div class="register-link">
            Hesabın yok mu? <a href="/User/Register">Kayıt Ol</a>
        </div>
    </div>
</div>