@page
@model CampusRide.Views.User.UserPageModel
@{
}

<div>
    <h2 style="text-align:center"> Bu sayfa kullanıcıların göreceği sayfa</h2>
    <br />
    <a asp-controller="Ride" asp-action="Create">Yolculuk İlanı Ver</a>
    <br />
    <a asp-controller="Ride" asp-action="List">Yolculuk İlanı Ara</a>
</div>
