@model List<Ride>

<div class="list-group">
    @foreach (var ride in Model)
    {
        <div class="list-group-item">
            <h5 class="mb-1">Başlangıç: @ride.StartingLocation - Bitiş: @ride.EndingLocation</h5>
            <p class="mb-1">Başlangıç Saati: @ride.StartingTime.ToString("g")</p>
            <p class="mb-1">Bitiş Saati: @ride.EndingTime.ToString("g")</p>
        </div>
    }
</div>