@{
	ViewData["Title"] = "Ana Sayfa";
}
<!-- giriş yaptıysa if yapmadıysa else çalışacak ama paranteze ne yazacağız bilmiyom-->
@if (false)
{
	
}
else
{
	<div style="
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75vh;
	margin: 0;
	">
		<div class="container text-center">
			<div class="row justify-content-between">
				<div class="col-4">
					<span style="font-size:50px;">Kampüse ulaşım <br /> artık daha kolay.</span>
				</div>
				<div class="col-4">
					<h1>Merhaba.</h1>
					<p class="lead">Devam etmek için giriş yapın veya kayıt olun.</p>
					<a class="btn btn-primary" href="User/Register">Kayıt Ol</a>
					<a class="btn btn-outline-primary" href="User/Login">Giriş Yap</a>
				</div>
			</div>
		</div>
	</div>
}
